[2018-11-17 01:00] thomann061 opened #1 "500 Internal Server Error"
I deployed the herokuapp and got a 500 error.  Any idea why?

[2018-11-18 14:04] landonp1203 commented on #1
Can you get the logs and put them in here?

Run: `heroku logs -n 1500`

That should get the last 1500 lines.

[2018-11-18 17:12] landonp1203 commented on #1
Okay, so from the logs I can't see anything.  Looks like I forgot to add the `SLF4J` dependency which would log the `Spark` logs.  What I can tell you to do now is delete the app and re-deploy it.

I just deployed a demo app from the README button and it worked perfectly fine, I got no 500 error.

Can you comment if it works after that?  I will add `SLF4J` dependency in the next version.

[2018-11-19 01:06] thomann061 opened #2 "Bot Commands"
Are there a list of commands to query matchups, transactions, etc.  Thanks.

[2018-11-19 05:05] landonp1203 commented on #2
I am actually working on this right now.  I should have it done in the mid-week time.

[2018-11-20 00:41] landonp1203 opened #3 "Settings DB table"
Table that saves current settings that the bot is using

[2018-11-20 00:42] landonp1203 opened #4 "Possible timezone issue"
From thinking about it, the cron schedule is set up for EST times, but if someone uses another timezone, then they will be the same times in that timezone, instead of the proper times.

Need to investigate.

[2018-11-20 00:43] landonp1203 opened #5 "Add unit tests"
Unit tests need to be added.

[2018-11-20 00:44] landonp1203 opened #6 "Drop env variable"
Users have expressed they may not want to show drops to their league.  Add a env variable that is settable.

References #3 because this can be a setting that can be broadcast in a change message.

[2018-11-20 01:15] landonp1203 opened #7 "Transactions DB table"
Create a transactions table that holds a log of transactions that have happened.  Once a certain date/time happens, release all transactions in one message, then remove the transactions from the table.

[2018-11-21 00:29] landonp1203 opened #8 "Update logging library"
Move to `SLF4J`.

[2018-11-21 18:31] #6 closed

[2018-11-21 19:15] landonp1203 opened #9 "Move Yahoo interactions to shared library"
Reason for doing this is so that there are no circular dependencies, as well as the sub-projects: 'web-server' and 'bot' only depend on the 'shared' project if anything must be used across both.  As well as each sub-project should do only their specific purpose.

[2018-11-21 19:42] landonp1203 commented on #8
Want to update logging.

[2018-11-21 19:47] landonp1203 opened #10 "Custom Cron job scheduling"
Users may want to have custom cron scheduling for their alerts.

[2018-11-21 19:49] landonp1203 commented on #9
Good for now, will re-open if need to use again.

[2018-11-21 19:49] #9 closed

[2018-11-22 02:44] landonp1203 commented on #2
Done for now with commands.  If anymore are to be added, this will be reopened.

[2018-11-23 16:38] thomann061 commented on #2
I am trying to enter './fantasy help' with no response.

[2018-12-05 15:15] landonp1203 commented on #2
@thomann061 Sorry I didn't see this my notifications are off on Github for some reason.

So I found a nasty issue with Heroku that was an oversight on my part.  On the free tier dyno of Heroku, if the dyno does not get any activity within 30min, the dyno shuts down.  If you also have a worker dyno set up as well, like this project does, that goes to sleep too.

I've been working on migrating the b

[2018-12-13 20:50] landonp1203 commented on #2
@thomann061 I updated the bot, check out the bottom of the README for the updated instructions.  Cheers!

[2018-12-18 14:58] landonp1203 commented on #2
Found out that the bot is not pinging the server so it is still shutting down.  Looking for fix.

[2018-12-18 15:52] landonp1203 commented on #2
7702c29 should fix this

[2018-12-18 16:22] landonp1203 commented on #2
Scratch that, 7702c29  now keeps the server alive with a heartbeat every 5 minutes.

[2018-12-20 17:45] landonp1203 commented on #2
Okay Heroku is giving me a headache, now its freaking out about DB connections -_-

[2019-06-21 20:01] malf922 opened #11 "Uh oh "Looks like something went wrong" -Yahoo"
Getting the above message when trying to open app from Hiroku to complete the setup process. I think it may be due to Yahoo not allowing 'HEROKU-APP-NAME'.herokuapp.com as the redirect URI due to it being an invalid URL. I had to add https:// to the front in order for Yahoo Developer to accept it.

[2019-07-05 20:26] jrholt-arch opened #12 "Heroku Deployment Error"
Can't deploy application to Heroku with current deployment button in readme. Gives attached screen
<img width="1183" alt="Screen Shot 2019-07-05 at 3 25 01 PM" src="https://user-images.githubusercontent.com/52582669/60743918-3739d500-9f39-11e9-9dae-9f97f1b186f5.png">

[2019-07-05 20:31] jrholt-arch commented on #12
Not super familiar with Heroku - but looks like it may be a repo reference issue in the app.json file? app.json repo appears to be yahoo-trader-bot

[2019-07-11 03:30] landonp1203 commented on #11
I will look into this, but the bot worked properly afterwards?

[2019-07-18 02:36] DMcP89 commented on #11
Running into the same issue

[2019-07-18 06:52] DMcP89 commented on #11
@malf922 figured this out. On your Yahoo app configuration, add /auth to the end of the uri. For example:

https://HEROKU-APP-NAME'.herokuapp.com/auth

The issue is caused by the authenticationUrl method of the Server class. It adds on /auth to the end of the URL.

@landonp1203 the readme should be updated accordingly.

[2019-07-18 12:41] malf922 commented on #11
@DMcP89 Yes! That appears to have done the trick. Thank you!

[2019-07-18 18:45] landonp1203 commented on #11
I am going to be updating this application with a ReactiveX implementation sometime in the next month, so be on the look out for that, I will then update accordingly on what do.  As of now, I don't have the time to work on this because of my new job, but I will start looking this weekend at new implementations as I know there are better, more concise ways to do this.

[2019-07-18 18:46] #12 closed

[2019-07-19 14:12] DMcP89 commented on #11
@landonp1203 congrats on the new job. Opened a PR with the change to the read me.

[2019-08-02 13:35] gregthedreg commented on #11
thanks this helped!, were you able to open the app afterwards? thats where i got stuck next.

[2019-08-02 13:53] gregthedreg commented on #11
i made sure the url matched the one in this thread with the /auth at the end. im not too sure what i need to do to make this work.

[2019-08-02 16:15] gregthedreg commented on #11
2019-08-02T15:15:00.295016+00:00 app[web.1]: [DEBUG] [DefaultQuartzScheduler_Worker-8] 2019-08-02 15:15:00,294 [utils.JobRunner] - Server kept alive...
2019-08-02T15:20:00.001338+00:00 app[web.1]: [DEBUG] [DefaultQuartzScheduler_Worker-9] 2019-08-02 15:20:00,001 [utils.JobRunner] - Keeping server alive...
2019-08-02T15:20:00.993357+00:00 heroku[router]: at=info method=GET path="/keepalive" host=vi

[2019-08-03 02:10] gregthedreg commented on #11
i finally got it after some magic. now is there a way to test this or command cheat sheet that i am missing? or will this be set till our league sees action? i kinda want to test this before i start inviting my friends to the discord.

[2019-08-03 14:21] landonp1203 commented on #11
I am going to be rewriting the entire bot this weekend @gregthedreg, so hold off until I push the new version :)

[2019-08-03 14:29] gregthedreg commented on #11
Well I finally got it through last night. Im looking forward to the rewrite. My league is super excited for your bot lol.

Sent from my iPhone

[2019-08-07 00:10] landonp1203 commented on #11
The changes are taking longer than I expected, since I am learning Rx at the same time.  It will be done in the next 2 weeks, and the latest by the first week of the season. @gregthedreg

[2019-08-07 00:14] gregthedreg commented on #11
Would the current bot work till then?

Sent from my iPhone

[2019-08-10 02:44] landonp1203 commented on #11
Yes it should

[2019-08-18 23:44] lud024 commented on #11
Any update on this? I just got everything setup, when I open app I get the same error from yahoo.

[2019-09-02 23:21] red-scott commented on #11
As @malf922 mentioned, needed to prepend https:// to the heroku app URL, and can confirm it works. Picked up a kicker for the season to confirm.

![image](https://user-images.githubusercontent.com/25727552/64135468-8909aa80-cd84-11e9-94b2-84a735bf7af5.png)

[2019-09-03 00:55] landonp1203 opened #16 "Need to add try catches"
Although using Kotlin, still need to use try catch in case of thread being interrupted and other places.

[2019-09-03 22:42] kabirsikand commented on #11
@landonp1203 updates? Can help if needed....week 1 around the corner!

[2019-09-03 22:59] kabirsikand opened #17 "500 on /fantasy Slash Command"
Slack slash commands return 500s. See the following setup and output from the bot. Looks like a JSON parsing issue, perhaps with newer slack api's?

Slack settings:
[code]

Output in Bot (Heroku):
[code]

[2019-09-03 23:03] kabirsikand commented on #17
I think it is this line:
https://github.com/landonp1203/yahoo-fantasy-bot/blob/master/web-server/src/main/java/web/CommandInterpreter.java#L9

And:
https://github.com/landonp1203/yahoo-fantasy-bot/blob/master/web-server/src/main/java/web/CommandInterpreter.java#L19

The 'message' passed in actually does not include the 'command' that was sent.

[2019-09-04 05:03] landonp1203 commented on #17
So the commands sent from the messaging services was actually a super duper experiment on my part and I never put it on a feature branch, which I should have and kept it off master/dev.  As of now, I am working on getting the no commands bot working, and then migrating over to the commands version.  I’m planning to have a couple different flavors of this bot for people’s usage however they please.

[2019-09-04 05:05] landonp1203 commented on #11
@kabirsikand it will be done by either Wednesday night or early Thursday morning...if you look at the rn branch, you’ll see what I’ve been working on.  Thanks for the help! Contribute however you’d like :)

[2019-09-05 05:59] #16 closed

[2019-09-05 06:00] #2 closed

[2019-09-05 06:00] #3 closed

[2019-09-05 06:00] #4 closed

[2019-09-05 06:00] #5 closed

[2019-09-05 06:00] #7 closed

[2019-09-05 06:00] #8 closed

[2019-09-05 14:32] bryan-farris opened #20 "Error: I could not connect to Yahoo's servers"
This morning the bot returned 20+ of these messages. Is this related to an incorrect configuration somewhere? We had previously received a few successful updates through the bot.

Screenshot: https://cl.ly/d97cb159e5ed

Thanks in advance, super excited to use the bot for our league this year!

[2019-09-05 14:39] malf922 commented on #20
I had the same message, many times, but then I got a transaction alert in real time, just a couple hours after the last error message. I assumed changes were made so I re-deployed the app.

[2019-09-05 14:39] landonp1203 commented on #11
Just finishing up, making sure bot works with Yahoo now, and will make post within the next hour-2!

[2019-09-05 14:46] bryan-farris commented on #20
@malf922 I figured that might be the case too. Am I reading the instructions correctly, that a "re-deploy" includes basically deploying a new instance of the app? Or am I missing something?

[2019-09-05 14:50] malf922 commented on #20
@bryan-farris correct. I just went through the setup process again. I would hold off though, as it appears Landon is working on another release as we speak, which will be out today. (per his last message on my Issue post).

[2019-09-05 16:10] Jonath22b commented on #11
Hey @landonp1203 the bot is working but on Heroku the dyno's now show "Web" & "Bot" the authorization is working but the bot won't work on discord without having the "Bot" dyno turned on.  Problem is it keeps sending out notifications about league updates that happened weeks ago in a constant cycle. There seems to be no setting for the bot to only push new Alerts rather than all Alerts. Any ideas

[2019-09-05 16:32] landonp1203 commented on #11
All done https://www.reddit.com/r/fantasyfootball/comments/d032cw/discord_groupme_and_slack_yahoo_fantasy_football/

[2019-09-05 16:32] landonp1203 commented on #11
@Jonath22b I fixed that issue, delete the app and redeploy it.  That should fix it.  If not, please post in this issue so I can look at it.

Thanks!

[2019-09-05 16:51] malf922 commented on #11
@landonp1203 on the https://developer.yahoo.com/apps/ portion of the guide, step 3c still seems inaccurate. I had to add https:// in order to get it to authorize. I could see that generating a lot of questions on the Reddit post.

[2019-09-05 17:22] landonp1203 commented on #11
I actually did at that to the README when I realized it, you probably saw it right before I changed it.

[2019-09-05 17:24] landonp1203 commented on #20
Latest update should be up, nuke the old one, and redeploy and it should work now.

[2019-09-05 18:25] brucebarnes commented on #20
Had same issue.  When we delete app and redeploy, do we need to change the names of the bot to make it work?  Also is there a test to see if it is working?

[2019-09-05 18:50] landonp1203 commented on #20
No, you do not need to change the name.  If you do change the name, you will have to redo the yahoo api part since it points to the app-name.heroku.com url, which would change if the bot name changes.  The test should be that it sends a message to your group.  As of now, that is the only way to determine if it is working.  You can also check the Heroku logs by going to the `More` button and click

[2019-09-05 20:52] bryan-farris commented on #20
@landonp1203 thanks for the quick feedback. Unfortunately after nuking my previous app and redeploying, I'm getting an Application Error on Heroku when trying to Open the App (last few steps after adding the Config Vars): https://cl.ly/37b71a739fe4

Any thoughts?

[2019-09-05 20:54] bryan-farris commented on #20
Nevermind, I think I figured it out! Had to turn on the `bot` Dyno to authorize.

[2019-09-05 20:57] #20 closed

[2019-09-05 21:32] landonp1203 commented on #20
All good!  Please redeploy once again, there was a null pointer exception that was thrown in the standings update.  The update fixes it. @bryan-farris @malf922 @brucebarnes @DMcP89

[2019-09-05 21:49] landonp1203 commented on #11
Timing and alert changes.  Please update so no null pointer exceptions and missing alerts. @malf922 @DMcP89 @gregthedreg @ackleymi

[2019-09-05 21:51] Jonath22b commented on #11
@landonp1203 just did the update - still working well! Thank you

[2019-09-05 22:02] landonp1203 commented on #11
Sorry last update just pushed, fixed the build and removed an erroneous field in the matchups message.  If it’s working for you now, you should be fine and you’ll just have the extra field. @Jonath22b

[2019-09-05 23:31] tonycchung opened #25 "Add player profile pictures"
Not really an issue as much as a suggestion - it'd be awesome if you could use the nfl api to add player profile pictures in transaction updates

https://api.nfl.com/docs/endpoints/profilePicture/index.html?sp-cl-mc-af-pj=&source=pepperjam&publisherId=96525&clickId=2817513345

I'd love to contribute but I'm a ruby/go guy with zero familiarity with kotlin/gradle though I'm willing to take a stab an

[2019-09-06 02:49] landonp1203 commented on #25
If you've ever worked with Java, its pretty much the same language with some functional programming semantics thrown in which are very powerful.

I'd love for you to contribute and add this!

[2019-09-06 02:50] landonp1203 commented on #17
Closing this in favor of a issue created to track commands flavored bot.

[2019-09-06 02:50] #17 closed

[2019-09-06 02:51] landonp1203 commented on #11
Closing as this pertains to an old version of the bot that is non-existent anymore.

[2019-09-06 02:51] #11 closed

[2019-09-06 03:00] LandonPatmore opened #26 "Condense http post requests into abstract class"
After looking at the messaging services, the body data is different amongst them, and that is all.  That means that the post request function calls are repetitive inside the messaging service classes.  Should move to abstract class to only be done in one place.

[2019-09-06 03:02] LandonPatmore opened #27 "Figure out how to send messages quicker"
The messaging services have limits on how many messages can be sent in a certain amount of time.  Each service waits 1000ms before sending a new message, thus slowing everything else down since it sleeps on the main thread.

Should look into what the limits are per messaging service.

[2019-09-06 15:23] tonycchung commented on #25
cool, will try to take a crack at this in the next week or two when ive got time, thanks!

awesome project btw, really looking forward to it!

[2019-09-06 17:58] DMcP89 opened #28 "Bot randomly stopping on Heroku"
I have the latest code from master deployed to Heroku and have had to restart the dynos a few times now. Checking the logs shows this:
[code]

[2019-09-06 19:42] landonp1203 commented on #28
So it looks like you kept the web dyno on when it should have been off.  According to Heroku's policy, if you have a free plan, the web dyno turns off after being inactive for 30min (ex. a web request will stop it from sleeping).  The boy dyno turns off as well since the web dyno one turns off.  I think it is dumb how that works, but that is how heroku has done it.

From their site: `If an app has

[2019-09-06 19:44] landonp1203 commented on #28
Closing since this is a heroku/configuration issue that was missed in setup.

[2019-09-06 19:44] #28 closed

[2019-09-08 00:13] oatsack opened #30 "FAAB amount spent on players"
Is there a way to see how much FAAB money was sent on each player (if any)?

Ex.:
[code]

[2019-09-08 22:36] landonp1203 opened #31 "Break out Yahoo API into its own wrapper"
This will be going into https://github.com/landonp1203/yahoo-fantasy-football-api-wrapper

[2019-09-09 01:04] landonp1203 opened #32 "Standings will error out because of FAAB not existing"
This relates to #29

[2019-09-09 23:13] parthka opened #33 "Issues running bot"
Bot errors out, checked Yahoo/GroupMe connections.

2019-09-09T23:11:44.994895+00:00 heroku[router]: at=error code=H14 desc="No web processes running" method=GET path="/" host=sia-ff-gm.herokuapp.com request_id=c14762bc-30b4-4d5b-ae3f-6a9cc1a0e55b fwd="24.125.169.225" dyno= connect= service= status=503 bytes= protocol=https

[2019-09-11 13:54] landonp1203 commented on #33
This means that your web dyno was off when you tried to hit the `Open App` button.  If you were trying to authenticate with Yahoo, the web dyno must be on first, then click the `Open App`, authenticate, then shut it off after and keep the bot dyno on.  Otherwise your bot will sleep if the web dyno is on for more than 30min without activity.  Sounds like this relates to #28?

[2019-09-11 16:03] landonp1203 opened #34 "User reports bot not sending messages after score update on Monday"
Users has reported that they got all messages up until standings, and then have not gotten any transaction messages afterwords.  As per conversation, there seems to something wrong with standings even though the have FAAB in their league.

Will investigate further.

[2019-09-11 20:49] bryan-farris commented on #34
Hey @landonp1203, don't mean to piggyback here and if you'd prefer an alternate form of communication, let me know. I just wanted to chime in and say that the only updates we're getting (from Yahoo > Slack) are add/drops. Do I need to update anything to include scores/standings?

[2019-09-11 22:03] landonp1203 commented on #34
This is the perfect communication, allows me to track issues better then reddit.

Do you have a FAAB league by chance?  I’m going to break off a desperate branch and test the standings since I also noticed my league didn’t get the notification either.

And never apologize especially for issues I created!

[2019-09-11 22:06] Jonath22b commented on #33
Hey @landonp1203 had the issue with the bot sleeping last night even with Web dyno off and only bot dyno on, I had to turn the bot dyno off and then on again to get notifications again.

[2019-09-11 23:53] MusiclMike51 commented on #34
I also have only received adds/drops and commissioner changes.
This is not a FAAB league just a normal waiver league.
Bot method - Discord Webhook

[2019-09-12 00:01] bryan-farris commented on #34
No ours is just standard waiver, not FAAB

On Wed, Sep 11, 2019 at 6:53 PM MusiclMike51 <notifications@github.com>
wrote:

[2019-09-12 00:06] landonp1203 commented on #34
Yep, okay I think I’ve pinpointed without even looking at the code.  The standings will throw the same FAAB error if FAAB does not exist.  Relates to #32.

[2019-09-12 00:08] landonp1203 commented on #34
#29 fixed this in matchups, but was caught in standings afterwords.

[2019-09-12 01:47] bryan-farris commented on #34
I'll keep my eyes open.

[2019-09-12 17:05] ap4open opened #36 "Add/drop activity for one owner not appearing"
Not enough information to tell for sure, but I see slack messages from the bot for 8 other members, and 1 person in the league has not made any player transactions. I've made 2 add/drop transactions, and do not see a corresponding slack message. The yahoo api key was made using my yahoo account - could that play a factor?

[2019-09-12 23:35] jsoncylu opened #37 "Matchup message is repeating information"
Our bot spat out this per matchup:

[code]

[2019-09-13 03:16] #37 closed, assigned to nobody

[2019-09-13 10:41] ap4open commented on #36
We have differences in scoring settings and starting roster requirements, but don't think that would impact this issue. I can try changing my team name to see if that changes anything.

[2019-09-13 14:15] landonp1203 commented on #36
If you think that could fix the issue, I’m all for it!  Haven’t had a chance to look since I’m at work, but will do tonight!

[2019-09-13 16:33] landonp1203 commented on #33
When you checked the logs, do you remember what they said?

[2019-09-13 16:35] landonp1203 commented on #34
Should be fixed because of 86039c9c68fb6acb75c4d76316114161a84d5932

[2019-09-13 16:35] #34 closed

[2019-09-14 17:07] red-scott opened #39 "Add contributor guide"
Would love a brief document on how to contribute.

From your comments I figured out to download IntelliJ and open the project with the "gradle". I spent a few hours on it yesterday and couldn't figure how to get the tests to run. Any details there would be helpful.

[2019-09-14 17:14] landonp1203 commented on #39
So it looks like I broke the tests, I need to set them up a certain way in the project structure and I did not do that, let me fix that first.

[2019-09-14 17:36] landonp1203 commented on #39
I will be able to add the contributor guide tomorrow when I get back from my vacation...but it should now work in IntelliJ, you should see a green "plus" button next to the test functions.

If you are having issues, navigate to the following `Settings > Build,Execution,Deployment > Build Tools > Gradle > Runner > "Run tests using:` and change it to `IntellIJ for both dropdown and it should work.

[2019-09-14 17:38] landonp1203 commented on #27
Probably put the messaging services on the `Schedulers.io` thread pool so that they are no blocking the main thread.

[2019-09-14 17:39] landonp1203 commented on #30
I will have to look into the API to see if that is possible.

[2019-09-14 17:40] landonp1203 commented on #36
Do you have an update on this? @ap4open

[2019-09-15 01:57] ap4open commented on #36
Sorry, I've updated my team name, but have not made any transactions yet. Hoping tomorrow's scoring updates will give more info. Incidentally, are you using any particular type of logging, or just the default heroku?

[2019-09-15 01:59] landonp1203 commented on #36
Heroku...only logs when you started looking at the logs which is annoying

[2019-09-15 18:12] ap4open commented on #36
Update: received score alert at the start of Sunday's early games. I had changed my team name to use 2 backslashes, and it displays as only one. Another observation: the official yahoo app displays my team name with only 1 backslash. This leads me to suspect that perhaps the issue is with the yahoo api.

[2019-09-16 15:09] landonp1203 commented on #36
Yah so it looks like there's an escape character issue going on with your name, but it still doesn't explain why add/drops aren't happening for that team tho.

[2019-09-16 20:18] forever681 opened #40 "Bot Not Alerting Add/Drop"
It's been working, then it stop, I deployed and it work again, then it stop alerting me. I have 3 Bot total, the other 2 are working fine. I think it might be the league setting? Since there's no waiver, thanks.

[2019-09-16 23:27] landonp1203 commented on #40
What day did it stop working?  Trying to see if this is an update job blowing up the bridge since I don't handle errors (which I should be doing).

[2019-09-16 23:30] jsoncylu commented on #40
I'm also not seeing this working since the Matchup Fix I reported

[2019-09-16 23:37] forever681 commented on #40
It stop working since yesterday. On Sep 16, 2019 4:27 PM, Landon Patmore <notifications@github.com> wrote:What day did it stop working?  Trying to see if this is an update job blowing up the bridge since I don't handle errors (which I should be doing).

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-16 23:47] LandonPatmore opened #41 "Create debug build variant"
Having to set up an entire Postgres db just to test is very annoying.  Adding a build variant that will allow users to debug without having to do crazy amounts of setup.  This is in relation to #39

[2019-09-16 23:48] landonp1203 commented on #40
@jsoncylu can you link the commit that you believe broke it?

[2019-09-17 16:41] jsoncylu commented on #40
Yes it was issue #37

[2019-09-17 16:42] jsoncylu opened #42 "Enhancement request: Notify who the highest and lowest scoring teams of the week were"
I'd like a feature where the bot declares who had the highest score and lowest score of the week so I can tease my league mates :D

[2019-09-17 18:58] landonp1203 commented on #42
I can do this.  Shouldn't be too bad (last famous words).

[2019-09-17 18:59] landonp1203 commented on #40
I will look at this tonight when I get back from work.

[2019-09-18 00:57] landonp1203 commented on #40
I'm thinking its an issue with the observable stream collapsing, I am going to change how the services consume errors.

[2019-09-18 13:58] gregthedreg commented on #40
2019-09-17T20:06:04.468185+00:00 app[web.1]: Setting JAVA_TOOL_OPTIONS defaults based on dyno size. Custom settings will override them.
2019-09-17T20:06:04.472894+00:00 app[web.1]: Picked up JAVA_TOOL_OPTIONS: -Xmx300m -Xss512k -XX:CICompilerCount=2 -Dfile.encoding=UTF-8
2019-09-17T20:06:04.620848+00:00 app[web.1]: SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
2019-09-17T20:06:0

[2019-09-18 17:13] ap4open commented on #36
Update: Waiver period ended this morning, and it looks like no add/drops are being reported by the bot. I suspect this is related to issue #40.

[2019-09-18 19:08] landonp1203 commented on #40
@gregthedreg Please look at this issue #28.  It looks like you forgot to shut off the `web` dyno.

[2019-09-18 19:09] landonp1203 commented on #36
Yep thinking its a collapsed stream, shut the bot dyno off and turn it back on again as a temporary fix.

[2019-09-18 22:40] red-scott commented on #40
just noticed this. Possibly useful for debugging info: in one of my leagues I commented out the section of setupJobs where it creates MatchUpJob, StandingsJob, and ScoreUpdateJob, and was surprised that it broke transactions. Close Score Updates still work.

I've been trying to debug this issue, I've verified it receives the transaction list, and it sees a new transaction is newer than the last ti

[2019-09-20 04:49] forever681 commented on #40
Thanks, so do I deploy it again?

[2019-09-21 17:46] red-scott commented on #40
hey @landonp1203, this fix from @donotknow seems to fix transactions for me:

https://github.com/donotknow/yahoo-fantasy-bot/commit/b4e54f69caa4266b512e95af5b727b63d39a5224

[2019-09-24 05:29] krasher134 opened #43 "Feature Request: Ability to toggle each alert by type and time"
I'd love the ability to enable and disable certain alerts for my league.

My league isn't as active as others, and because of the sheer number of alerts the bot sends, we basically have ended up using GroupMe as a notification system and nothing more. That also means that we receive "Score Alerts" Thursday night after the game and then Sunday morning before the games that are essentially the same

[2019-09-25 00:11] #43 closed

[2019-09-25 00:11] krasher134 commented on #43
Figured out how to make these changes myself in the Arbiter.kt file.

[2019-09-25 00:12] krasher134 commented on #40
@red-scott, testing this fix as well, will let you know how it goes.

[2019-09-30 02:15] amalhotraskrunch commented on #40
I just deployed the bot using the instructions in your readme... i don't see any transactions being reported to slack as of yet.  This is what I see in the bot logs though:

[code]
Are there any debug logs that one can see?

[2019-09-30 03:29] amalhotraskrunch commented on #40
hmm.. now I do see these logs:
[code]

Have double checked all my tokens with yahoo, they seem to be fine.

[2019-10-03 23:37] ageorgop commented on #40
I was experiencing this as well and that commit also fixed it for me.

[2019-10-13 21:29] scottillogical opened #45 "No score updates"
Thanks for this project!

According to the readme, score updates are supposed to be sent at out but they don't appear to be being sent out for me - so far since I installed it earlier this week, it has only posted add/drop and trade messages

Is this because the score update jobs are commented? https://github.com/landonp1203/yahoo-fantasy-bot/blob/master/bot/src/main/kotlin/bot/utils/Arbiter.kt#L1

[2019-10-14 14:50] scottillogical commented on #45
Was it commented because it was too noisy? If so that's cool with me

[2019-10-16 03:10] lammypham opened #46 "OAuth failed on starting app"
After adding all the config envs and opening the application i ran into an OAuth issue
I also happen to not own the league as well, not sure if this is causing the problem or not.

Build process for heroku seemed to worked fine as well.

[2019-10-23 16:10] landonp1203 commented on #45
12c52ab should fix this

[2019-10-23 16:10] #45 closed

[2019-10-23 16:12] landonp1203 commented on #46
Delete the bot and retry, it sounds like a config issue.  Or it could be that Yahoo's servers are down, which has happened to me before.

[2019-10-25 01:45] nzbordie opened #47 "Trade Alert does not show if it was Approved or Disallowed."
Does the API have different trade options?

Trade Accepted
Trade Declined
Trade Approved
Trade Disallowed

I think having these options would be awesome.

[2019-10-25 01:47] nzbordie commented on #47
I brought this up because when I disallowed a trade. The bot shouted 'Trade Alert' which wasn't the truth

[2019-12-02 17:42] yuja-cmd opened #49 "is it possible to have this bot work for fantasy basketball leagues?"
hi there, trying to use this for my fantasy basketball leagues but I figured it's configured only for football leagues.

is it possible to change a setting somewhere to have it work for basketball as well?

thanks for all the help!

[2020-03-05 03:45] WhosNickDoglio commented on #49
I _believe_ if you just changed the following you would be able to:

https://github.com/landonp1203/yahoo-fantasy-bot/blob/12c52ab00c047891f954e215291a074223e01693/bot/src/main/kotlin/bot/utils/DataRetriever.kt#L21

You could either fork and change "nfl" to "nba" in that URL or if the `EnvVariables.YahooLeagueId.variable` was updated to include the league type it could also work.

[2020-03-16 15:51] EffDub opened #51 "Interested in trying this out for MLB."
Hello,

I'm looking at integrating this into a slack channel in my org for MLB fantasy.  I'm a bit of noob when it comes to coding.

I've been reviewing this code, and it looks like it should work well for Yahoo MLB.

It appears from the code I can easily do the following:

- modify existing NBA, NFL, and 'football' references to MLB, and 'baseball'.
- Yahoo auth and league configs appear to be ac

[2020-03-17 12:54] WhosNickDoglio commented on #51
Hey @EffDub

Check out [my fork](https://github.com/WhosNickDoglio/yahoo-fantasy-bot) to support other fantasy sports.  I currently use it for my NBA fantasy league but imagine it would work for MLB as well. Just enter mlb as the game key during the setup.

I'm an Android developer so _maybe I'm wrong_ but I believe this is handled in the `Arbiter` class in the following method:

https://github.co

[2020-03-29 17:32] #49 closed

[2020-03-29 17:34] #46 closed

[2020-03-29 17:34] landonp1203 commented on #46
Didn't hear anything about this, closed.

[2020-03-29 17:34] landonp1203 commented on #51
https://github.com/landonp1203/yahoo-fantasy-bot/pull/50 allows this :)  Closing.

[2020-03-29 17:34] #51 closed

[2020-03-29 17:37] landonp1203 commented on #40
I pulled this commit: donotknow@b4e54f6  in months ago and forgot to close this.  Thanks for catching this @donotknow :)

[2020-03-29 17:37] #40 closed

[2020-04-03 17:45] landonp1203 commented on #31
Closing as there is no point to do this, nor do I have the time to.

[2020-04-03 17:45] #31 closed

[2020-05-27 13:14] GlicketySplit opened #52 "Request: Opt in/out of close score updates."

[2020-05-27 13:15] GlicketySplit commented on #43
@krasher134 How were you able to do this?

[2020-05-31 01:47] #52 closed

[2020-06-13 04:26] Hop-Poppa opened #54 "Need to use GroupMe?"
I am trying to get the bot for a discord server. I believe all my information was entered correctly and I left the GroupMe and Slack variables empty. When I click open App I get the following:

![image](https://user-images.githubusercontent.com/66859287/84559866-60d7b080-acf3-11ea-9190-eca60bc592f5.png)

[2020-06-13 04:50] Hop-Poppa commented on #54
I think I found the issue, you have t have something filled in (even if its random forehead to keyboard strokes) because it isn't optional.
https://github.com/landonp1203/yahoo-fantasy-bot/blob/b3f1d01179a2da7ff681715600184a92dd5d8829/shared/src/main/kotlin/shared/EnvVariablesChecker.kt?fbclid=IwAR2K6iAyvzb1wK2ASGIKgmAct51yPAPqmcs27GK8vRbMojqsVFuqH9ac54w#L21

[2020-06-26 19:26] landonp1203 commented on #54
Thanks for catching this, I will fix this.

[2020-06-26 19:55] #54 closed

[2020-07-07 18:24] Cryzin opened #55 "Trade alert not shown"
Hello,

Publishing to discord via webhook. We had a trade that happened 5 hours ago, that wasn't alerted.

[2020-07-08 15:02] landonp1203 commented on #55
Can you paste the logs in here?

[2020-07-08 15:02] landonp1203 commented on #55
What league are you using? From my understanding, NFL leagues are not currently being run because we are not in season.

[2020-07-08 15:09] Cryzin commented on #55
NFL. We started our draft early since we are all craving football.

[2020-07-08 17:29] landonp1203 commented on #55
Please paste your logs when you get a chance.

[2020-07-08 17:44] Cryzin commented on #55
How do I do that, please?

[2020-07-10 17:02] Cryzin commented on #55
Now it doesn't even show the discord errors. Just

`2020-07-10T17:01:39.969924+00:00 app[bot.1]: Attempting to save last time checked...1594400499

2020-07-10T17:01:39.972195+00:00 app[bot.1]: Latest time has been saved.

2020-07-10T17:01:54.818169+00:00 app[bot.1]: Grabbing Data...

2020-07-10T17:01:55.019063+00:00 app[bot.1]: Data grabbed.

2020-07-10T17:01:55.032326+00:00 app[bot.1]: More than

[2020-07-10 22:53] landonp1203 commented on #55
Hmmm okay so there is an error with the messages getting sent, I'm wondering if you entered the Discord Webhook URL incorrectly.

[2020-07-11 00:26] Cryzin commented on #55
Hello,

After that screenshot I had re-entered the discord webhook. Also prior to the error it was sending messages without problem.

I deleted and re-set it up and it was not showing any changes at all in the logs.

[2020-07-11 18:47] reckonerX opened #56 "Application error"
Every time I try to open the app I'm getting these errors, any help? I've gone through the setup about ten times now, don't know what I'm missing.

2020-07-11T18:46:10.330118+00:00 heroku[router]: at=error code=H10 desc="App crashed" method=GET path="/" host=phoenixleaguebot.herokuapp.com request_id=403208ff-b864-40fc-99cb-275542a30a74 fwd="69.218.222.37" dyno= connect= service= status=503 bytes=

[2020-07-16 03:32] landonp1203 commented on #55
So has the issue been fixed with deleting and standing the dyno up again?  I can't tell from your last message.

[2020-07-16 03:34] landonp1203 commented on #56
Is there anything in the logs before or after these messages?  I'm wondering what you were trying to do.  It looks like you were trying to access the Yahoo Auth redirection since you tried to go to the `/` path, but I am not sure.  More insight would definitely help.

[2020-07-16 03:37] landonp1203 commented on #47
I would like this feature too, but Yahoo doesn't give that type of granularity in their API digging into it the way the bot uses the API.  Yahoo doesn't tell whether or not the trade was allowed or not, thus the bot thinks it happens since it cannot determine it.  I apologize.  If I find something in the API that they have added, I will re-open this.

[2020-07-16 03:37] #47 closed

[2020-07-16 03:38] #39 closed

[2020-07-16 03:39] landonp1203 commented on #39
If someone wants to add this, feel free.  But using this issue and knowing how to add the project into your IDE is more than enough.

[2020-07-16 03:39] landonp1203 commented on #25
Closing since no updates nor is it a feature I am willing to work on since it is very niche.  If anyone would like to work on this, feel free.

[2020-07-16 03:39] #25 closed

[2020-07-16 03:43] landonp1203 commented on #27
Why I am not doing all messaging and DB accessing on background threads...I think I was sleeping...

[2020-07-16 03:43] landonp1203 commented on #30
Not possible currently.

[2020-07-16 03:43] #30 closed

[2020-07-16 03:43] landonp1203 commented on #33
Closing since no further information given.

[2020-07-16 03:43] #33 closed

[2020-07-16 03:45] landonp1203 commented on #36
Closing as fixed in later updates as well as no further updates.

[2020-07-16 03:45] #36 closed

[2020-07-16 03:46] landonp1203 commented on #42
Back burner until more stability.

[2020-07-16 04:21] Cryzin commented on #55
Sorry, it is not.

[2020-07-16 14:29] reckonerX commented on #56
This was just with me trying to initialize the app. It's the only thing in
the logs.

On Wed, Jul 15, 2020, 11:35 PM Landon Patmore <notifications@github.com>
wrote:

[2020-07-19 19:12] Incogneat01234 opened #57 "Yahoo Game Key"
Does anyone know the latest game key for the 2020 fantasy football season. I cannot seem to find it.

[2020-07-19 19:49] Incogneat01234 commented on #57
399

[2020-07-19 19:50] Incogneat01234 commented on #56
Try updating the yahoo_game_key to be 399 and redeploy the app. I was getting the same error and that was my issue.

[2020-07-19 23:34] landonp1203 commented on #56
@reckonerX If you try what @Incogneat01234 mentions, please comment if it worked :)

[2020-07-19 23:35] landonp1203 commented on #57
I wonder if there is a way I can grab the latest key automatically, thus that is one less thing the users have to configure...

[2020-07-19 23:44] Incogneat01234 commented on #57
There appear to be a few apps here on GitHub which may be doing the same thing. Last year it was 390, so I simply just queried the API at 391, 392, etc until it returned that the game was 2020 football, full.

[2020-07-19 23:49] landonp1203 commented on #57
They are automatically configuring?  Or they have the same issue as mine?  Its pretty annoying that you even had to do that, I'm sorry about that.

[2020-07-19 23:57] reckonerX commented on #56
That worked!

[2020-07-19 23:59] #56 closed

[2020-07-20 00:01] Incogneat01234 commented on #57
Ah, sorry I wasn't clear. They are auto configuring. Seems like it's a query that can be run through the yahoo API, but I didn't dig too deep into it.

[2020-07-20 00:58] landonp1203 commented on #57
Looks like I found the API to do it: https://developer.yahoo.com/fantasysports/guide/#sample-xml

[2020-07-20 01:19] Incogneat01234 commented on #57
Perfect! Thanks for the bot, we just switched to discord and implemented it and my league thinks it's fantastic.

[2020-07-20 01:25] landonp1203 commented on #57
Awesome!  I'm really glad, maybe tomorrow I'll have the fix out.  Work has me swamped, so we will see.

[2020-07-21 01:43] landonp1203 commented on #57
@Incogneat01234 Added the auto config for game key, tell me if it makes it easier for you.  Thanks for telling me about it!

[2020-07-21 01:46] #57 closed

[2020-07-21 03:55] landonp1203 commented on #55
Try taking a look at #57

[2020-07-21 04:12] Cryzin commented on #55
Hello,

So I deleted an re-deployed the app and I get below error now.

`

2020-07-21T04:10:56.588421+00:00 heroku[web.1]: State changed from starting to crashed

2020-07-21T04:10:58.897761+00:00 heroku[router]: at=error code=H10 desc="App crashed" method=GET path="/" host=HIDDEN request_id=HIDDEN fwd="70.59.77.55" dyno= connect= service= status=503 bytes= protocol=https

2020-07-21T04:10:59.33605

[2020-07-21 04:14] landonp1203 commented on #55
lol...give me a sec, I forgot that string equality checks the case as well :)

[2020-07-21 04:15] landonp1203 commented on #55
@Cryzin try now

[2020-07-21 04:23] Cryzin commented on #55
Currently:

[2020-07-21 04:26] Cryzin commented on #55
Also just wanted to make you aware of this typo

![image](https://user-images.githubusercontent.com/1764503/88012805-59819f00-cb0a-11ea-9322-d54e9ef40fff.png)

[2020-07-21 04:27] landonp1203 commented on #55
Guess I was tired doing that part months ago, I'll swing around and get it tomorrow...thanks!

[2020-07-21 04:28] landonp1203 commented on #55
As for the exception, I'll have to grab that after work tomorrow since it's almost 1am here.  It worked on my end, odd why it didn't in Heroku.

[2020-07-21 04:30] Cryzin commented on #55
No worries, and thank you for your time.

[2020-07-21 04:31] landonp1203 commented on #55
Try it now, it was an order of operations with the OAuth2 service being built after the call when it was needed before @Cryzin

[2020-07-21 04:43] landonp1203 commented on #55
Don't try it, I broke something...sorry its late :/

[2020-07-21 05:41] landonp1203 commented on #55
Fixed with https://github.com/landonp1203/yahoo-fantasy-bot/commit/4fa0a356db9d76d105913131c6bbc9553f857e08 @Cryzin

[2020-07-21 05:41] #55 closed

[2020-07-21 20:54] ptoninato opened #58 "400 Error: lexical error: invalid character inside string"
I just tried to set this up yesterday, and have also pulled in the latest changes from yesterday.  I believe I got this connected to Yahoo correctly.  However, I am having some trouble sending to GroupMe.  It is giving a Status: BadRequest | ErrorCode: 400 message in the logs.

I made some updates to my forked branch to try and print some additional information and here is what I got in the body:

[2020-07-21 21:09] landonp1203 commented on #58
Once I am out of work I will take a look at this.  It's probably the way things are getting wrapped/changed before the message gets sent out that was changed in a previous PR when moving things over to be more "Kotlinized".

[2020-07-22 03:23] landonp1203 commented on #58
Yep it was because of my kotlinization changes.  I removed the escaped `\\n`, and they were showing as `\n` in the JSON, thus that error was being thrown.  Fix incoming.

[2020-07-22 13:24] ptoninato commented on #58
Unfortunately, it looks like this is still an issue.  I tried the initial message and an add transaction, both giving me the same invalid character message.  I also tried setting up a Discord webhook and got the same message.

2020-07-22T09:05:21.751026+00:00 app[bot.1]: {"meta":{"code":400,"errors":["Client submitted invalid JSON: lexical error: invalid character inside string.\n          ings ha

[2020-07-22 13:27] landonp1203 commented on #58
Did you destroy the application and then create a new one?  New patches don't get auto deployed if the repo does not belong to you unfortunately.

It's an unfortunate downside to using heroku.

[2020-07-22 13:45] ptoninato commented on #58
So, I have been using my own forked branch, and manually deploying the code to Heroku.  But I did create a new app and the error is still there.

[2020-07-22 13:50] landonp1203 commented on #58
...........................................I deployed a version to my Heroku which had the actual version and then my laptop died.  So I took the version that I had pushed prior which had pretty much the correct fix, minus an issue I found before I deployed but forgot to push.  `\\n` to be replaced with `\\n`.  It was supposed to be `\n` to be replaced with `\\n`.  -_________-

[2020-07-22 13:54] landonp1203 commented on #58
So I looked, that was an old commit on your fork...just looked at your latest version and it has the proper string replacement...thats odd.

[2020-07-22 14:05] ptoninato commented on #58
Sorry about that.  After doing some research I thought maybe it wasn't escaping the slashes right, so I did some commits to see if I could get it to work, but didn't have any luck.  I've since reverted those to be inline with master.

[2020-07-22 18:46] Incogneat01234 opened #60 "Hanging on "Scraping Weekly Forecasts""
As title suggests, the script is hanging on scraping weekly forecasts

Scraping all QB...
Scraping all WR...
Scraping all RB...
Scraping all TE...
Scraping all DEF...
Scraping weekly forecasts...

I've let it sit for nearly an hour. I know from last year this shouldnt take this long. Just wanted to let you know. Public league ID 39617

[2020-07-22 18:47] #60 closed

[2020-07-23 12:43] ptoninato commented on #58
I believe I figured this out.  In MessageService.kt, at Line 24, there needs to be a call to correctMessage -
sendMessage(correctMessage(message))

And then I ran into an additional error in GroupMe.kt.  There is an extra '}' in the request which throws an error.  Line 17:
.body("{\"text\" : \"$formatted\"}, \"bot_id\" : \"$it\"}")
should be
.body("{\"text\" : \"$formatted\", \"bot_id\" : \"$it\"}

[2020-07-23 13:09] landonp1203 commented on #58
Damn nice catch, I flossed right over that.  I apologize.  I tested it with perfectly working messages like a dumbo, and didn't even send it through GroupMe.

Do you want to throw up a PR and I'll look at it when I'm in the office?

[2020-07-23 13:33] ptoninato commented on #58
Alright, I tried to clean things up a bit and got the PR out.  I have pretty 'chatty' commits.  Also I'm no Kotlin expert so the only way for me to really test is to commit and deploy to Heroku lol.  I believe a doing a squash when merging should take care of it.

[2020-07-24 00:04] #58 closed

[2020-08-25 03:39] LandonPatmore opened #62 "Move away from static objects and use DI"
So after looking at the code, I made some very very poor choices.  There is no way for me to mock anything for testing since everything is static.

I want to move away from this, and move towards a DI implementation so that things are less tightly coupled, as well as allow for expanded:

- Messaging services using interfaces
- Game specific behavior using an interface and each game could have its

[2020-09-07 21:58] notoriousweber opened #63 "Adjust time score alerts are sent"
It would be ideal if there was either a way to adjust the time messages are sent, or make them send closer to end of “sessions”. IE after the noon games, after the afternoon game, and much closer to when the Sunday night/Monday night game ends. Getting messages near midnight could turn some people off.

I’m also a little concerned about when Yahoo runs waivers at like 2 am, being flooded with disc

[2020-09-09 04:29] LandonPatmore commented on #63
This will be added in the frontend addition.  Currently how it is implemented, this cannot be done on the fly or during setup.

The waivers issue is out of my hands as this bot is at the mercy of Yahoo feeding it data.

[2020-09-09 20:20] basitmohammad opened #64 "Heroku Configuration with Yahoo error"
Followed all the steps and when I turned on "web" and "bot" dyno's and clicked "open app", I got hit with the screenshot below. Tried it a few times and nothing works.

![image](https://user-images.githubusercontent.com/26909671/92648988-590ab680-f2b8-11ea-9418-88367c825e07.png)

[2020-09-09 20:42] thomann061 commented on #64
I had an issue where I forgot to put the /auth after the callback url.

[2020-09-09 20:57] LandonPatmore commented on #64
@basitmohammad Please try what @thomann061 said.  Each need step needs to be followed exactly.  Most of the times, the issue is just a configuration error on the user's end.

Please report back if you got it to work.

[2020-09-10 16:42] scottillogical commented on #57
Updating my heroku app this year, getting this error
[code]

[2020-09-10 17:01] LandonPatmore commented on #57
@scottillogical I got an email about your issue, but looks like you deleted your comment.  Was the issue resolved?

[2020-09-10 18:44] scottillogical commented on #57
@LandonPatmore yep! i got an error asking for a gamekey, resolved it by adding GameKey MLB env var

[2020-09-10 20:32] LandonPatmore commented on #57
Is it working for MLB? I am curious now @scottillogical

[2020-09-10 20:36] scottillogical commented on #57
working so far for me

[2020-09-10 20:37] LandonPatmore commented on #57
Awesome! If you have any issues, please create an issue so I can track it...nice to know that its working in other types of fantasy leagues as well!

[2020-09-11 17:42] CruntJamman opened #65 "Feature Request - Turn on/off features, change times"
Options of what and when things are shown.  This is great, but my Discord feed is flooded with score messages.  Scores aren't that interesting to us, so an option to turn them off or change the time of when displayed would be nice.

The ADD/DROP and TRADE feature are the top gem of this app.  It would be nice to be able to control to just have those items displayed, and then turn on and off the sc

[2020-09-11 18:00] LandonPatmore commented on #64
Closing because haven't heard anything back...and this just seems like a user error.

[2020-09-11 18:00] #64 closed

[2020-09-11 18:00] LandonPatmore commented on #26
Done

[2020-09-11 18:00] #26 closed

[2020-09-11 18:01] LandonPatmore commented on #63
Closing in favor of #65

[2020-09-11 18:01] #63 closed

[2020-09-11 22:45] LandonPatmore commented on #65
I am going to try to get this in before Sunday's games.

[2020-09-12 00:51] rogersa2k opened #66 "Typo?"
During the initial Deploy to Heroku step, after clicking the Create App button, below SLACK_WEBHOOK_URL it says Discord Web Hook URL (which it also says above for DISCORD_WEBHOOK_URL). I am still just getting this setup for the first time, and I assume it is innocuous, but it is definitely confusing.

![image](https://user-images.githubusercontent.com/4921893/92983307-94e87c00-f470-11ea-8bf7-422c7

[2020-09-12 18:53] LandonPatmore commented on #66
Yep!  This is going to be fixed in the next update that I will hopefully get out in the next day before Sunday's game.  It will completely remove the env variables as well.

[2020-09-13 15:25] LandonPatmore commented on #65
This will be implemented by next weekend.  The work, after starting it, would take much longer to do and test before I'd feel confident to release it.

Sorry about the spamming, but it'll just be one more week and then it'll all be customizable.

[2020-09-14 02:25] LandonPatmore commented on #65
You can follow process here: https://github.com/LandonPatmore/yahoo-fantasy-bot/compare/master...frontend

[2020-09-15 16:32] LandonPatmore opened #67 "Standings alert broken message"
[code]

I have to vet people's PRs a little more because this was working last year.  This will be fixed before Thursday.

[2020-09-15 16:32] LandonPatmore commented on #67
Yikes, I am embarrassed I released the bot this year like this -_-

[2020-09-16 06:35] LandonPatmore commented on #67
Fixed with https://github.com/LandonPatmore/yahoo-fantasy-bot/commit/e997ecc9b7a9741bce9edbebd661f220071b4b1b

[2020-09-17 02:20] LandonPatmore commented on #65
Will be in before tomorrow's games

[2020-09-18 01:18] LandonPatmore commented on #67
`v3.0.0` has been released! https://github.com/LandonPatmore/yahoo-fantasy-bot/releases/tag/3.0.0

[2020-09-18 01:18] #67 closed

[2020-09-18 01:18] LandonPatmore commented on #66
`v3.0.0` fixes this: https://github.com/LandonPatmore/yahoo-fantasy-bot/releases/tag/3.0.0

[2020-09-18 01:18] #66 closed

[2020-09-18 01:19] LandonPatmore commented on #65
Bye bye chattiness, `v3.0.0` is out! https://github.com/LandonPatmore/yahoo-fantasy-bot/releases/tag/3.0.0

[2020-09-18 01:19] #65 closed

[2020-09-18 01:19] LandonPatmore commented on #62
DI IMPLEMENTED `v3.0.0`: https://github.com/LandonPatmore/yahoo-fantasy-bot/releases/tag/3.0.0

[2020-09-18 01:19] #62 closed

[2020-09-18 01:19] LandonPatmore commented on #41
Not doing anymore, can just mock things now

[2020-09-18 01:19] #41 closed

[2020-09-18 01:57] Incogneat01234 opened #68 "Feature Request - Custom Text Messages"
Hey!

Love the recent update with the frontend. Would be great to include the ability to add a message with custom text. I can see many ways it would be used, but I would use it to set up reminders an hour before kickoff on Thursday, Sunday, and Monday for my leaguemates to set their lineups. Likely would set a waivers reminder for Tuesday nights as well. Im sure I can think of more.

Thanks for t

[2020-09-18 02:01] LandonPatmore commented on #68
Glad you like it!

As for custom messages, yah that doesn’t seem so bad.  Let me look into that!

[2020-09-18 02:01] Incogneat01234 commented on #68
Cool, thanks!

[2020-09-18 06:22] LandonPatmore opened #69 "Broken Transaction Messages"
In allowing users to create custom alerts, I seem to have broken all the transaction messages.

I most likely forgot to set up the subscription for the transactions bridge when I removed it during testing.

[2020-09-18 15:33] tydormi commented on #69
Is this planned on being fixed? Found you and set up my discord following your instructions that were spot on and really looking forward to using this functionality! Will I need to do anything once a new version is deployed?

[2020-09-18 17:08] LandonPatmore commented on #69
Yes I am looking into it now.  As for a new version, currently you will need to delete the bot and then click the Deploy button again.  Sadly, Heroku does not allow people who do not own the repo to get the automatic deploys like I do.  In a future release, I will be adding a migration tool that will allow you to download a file, and then upload it to the new bot so you do not lose any of your set

[2020-09-18 17:16] tydormi commented on #69
That sounds great! Thanks for doing all this! Such an awesome tool.

On Fri, Sep 18, 2020 at 12:08 PM Landon Patmore <notifications@github.com>
wrote:

Tyler Dormanen <http://dormicreative.com>   //   UX&UI Designer
M: 763.300.8392

[2020-09-18 17:40] #69 closed

[2020-09-18 17:43] tydormi commented on #69
Assuming I can just pull the latest now?

On Fri, Sep 18, 2020 at 12:41 PM Landon Patmore <notifications@github.com>
wrote:

--
Tyler Dormanen <http://dormicreative.com>   //   UX&UI Designer
M: 763.300.8392

[2020-09-18 17:45] LandonPatmore commented on #69
You can pull it now @tydormi

[2020-09-18 17:46] tydormi commented on #69
Rock on man. Thank you!

On Fri, Sep 18, 2020 at 12:45 PM Landon Patmore <notifications@github.com>
wrote:

--
Tyler Dormanen <http://dormicreative.com>   //   UX&UI Designer
M: 763.300.8392

[2020-09-18 18:08] tydormi commented on #69
Redid all of it and not seeing transactions in the options for setting up
an alert.

On Fri, Sep 18, 2020 at 12:45 PM Tyler Dormanen <tyler.dormanen@gmail.com>
wrote:

--
Tyler Dormanen <http://dormicreative.com>   //   UX&UI Designer
M: 763.300.8392

[2020-09-18 18:10] LandonPatmore commented on #69
Ah yes, transaction alerts are not customizable.  They are real time and it checks for those every 15 seconds.

[2020-09-18 18:12] tydormi commented on #69
Oh so those just happen then? Nice!

On Fri, Sep 18, 2020 at 1:10 PM Landon Patmore <notifications@github.com>
wrote:

--
Tyler Dormanen <http://dormicreative.com>   //   UX&UI Designer
M: 763.300.8392

[2020-09-18 19:18] Incogneat01234 commented on #68
No worries, for now I have an IFTTT webhook set up to do some of this.

Thanks!

[2020-09-19 03:10] cujojp commented on #65
Silly question, by "chattiness" do you mean all the notifications (RE: Close Game, Standings) are sent via a single message? Or is it still a one by one bases for Close Game, Standings, and Score).

Also love what you have with this, if you need any Frontend help i'd gladly pitch in and contribute. 👍

[2020-09-19 03:22] LandonPatmore commented on #65
So the "chattiness" was the fact that there were too many alerts happening during the week and not each person's league wanted that schedule.  There were like 7 score alerts a week.  Some leagues just wanted to use this bot for the add/drop messages and some wanted to have their Score alerts show up at different times then what I thought was best.

The messages for the alerts still come in single

[2020-09-22 13:55] LandonPatmore opened #70 "Docker Support"
Users have asked for docker support since Heroku can be annoying to use at points.

The general outline of how I want the docker support to work:

- Unlike Heroku, I would like to have the bot and backend serving the frontend all in one container...not two separate containers
- Must be running on top of a linux image, probably an alpine flavor so it is relatively small
- Needs to include Postgres

[2020-09-23 15:59] LandonPatmore commented on #27
Send quick enough.  If sent any faster, we will get `429` errors.

[2020-09-23 15:59] #27 closed

[2020-09-25 18:41] scottillogical opened #71 "column tokens.refreshToken does not exist"
Noticed i wasn't getting any notifications and saw this error in the logs
[code]
I'm running this sha bcc1e52ad9a953797b0c0ab0875ab661e4313d4d.  I updated my bot by doing a git pull from master and redeploying to heroku, is that what caused my issue vs deleting the app?

Is the only fix to delete the app and redeploy? I tried adding the column by hand but actually had an issue doing that, heh

[co

[2020-09-25 20:27] LandonPatmore commented on #71
It looks like you’re using your own fork.  Yah I changed the DB tables around.  Your bot had the old tables and when the new table checker checks to see if the table exists, it doesn’t check to see if the columns are there.  It only looks to see if the named table exists.

Since you deleted the old bot and redeployed it, the old Postgres DB was feted and a new one was created with all the tables w

[2020-09-25 20:28] LandonPatmore commented on #71
However, now you have the latest tables and such and those won’t be changing unless something drastic happens, you can use your fork now and continually deploy like you have without having to delete the bot.

[2020-09-25 20:31] #71 closed

[2020-10-06 19:25] dmigliorisi opened #72 "How do I configure the transaction alerts?"
When I try to configure the alerts I see a few options for alert type but known of them are for add/drops or trades.

<img width="260" alt="Screen Shot 2020-10-06 at 3 25 11 PM" src="https://user-images.githubusercontent.com/898450/95250464-220cbf80-07e8-11eb-8c94-f78c332622dd.png">

[2020-10-07 02:48] LandonPatmore commented on #72
@dmigliorisi The only types of alerts that are configurable are `Score`, `Close Score`, `Standings`, and `Matchup`.  The transactions alerts, such as `add` and `drop` are always running and cannot currently be modified.

[2020-10-07 13:18] dmigliorisi commented on #72
Got it, thanks!

[2020-10-07 13:18] #72 closed

[2020-10-14 05:36] aaronsewall opened #73 "Feature Request Team Name Change Notifications"
I realize this isn't something yahoo provides currently but I would appreciate a feature like this. Haven't coded in kotlin before but would be willing to help wherever I can.

[2020-10-14 17:37] LandonPatmore commented on #73
Can you give me some insight into what benefits this would have for your league?  I am more than welcoming of PRs for new features, however I would like to keep the features down to ones that would have benefits for the overall user base of the bot.

[2020-10-24 17:24] #73 closed

[2020-12-07 03:49] yellowchicken280 opened #75 "Nfl.com fantasy compatibility"
Issue abt whether you can link the bot to nfl fantasy

[2020-12-27 06:26] eightysixed commented on #42
How is this coming along?

[2020-12-27 06:28] LandonPatmore commented on #42
I haven't even had a chance to look at it. Other maintenance of the repo needs to be done first as well as other projects. Maybe before next season I can get it in. @eightysixed

[2020-12-30 02:08] curropar opened #76 "Deploy button to Heroku doesn't work"
Deploy button to Heroku doesn't work: it's pointing to https://heroku.com/deploy. I found in a [post of yours](https://www.reddit.com/r/fantasyfootball/comments/d032cw/discord_groupme_and_slack_yahoo_fantasy_football/ez5vj8s/) in Reddit that this link instead works:
https://heroku.com/deploy?template=https://github.com/landonp1203/yahoo-fantasy-bot

[2020-12-30 04:41] LandonPatmore commented on #76
Works as intended, an issue on your end as this hasn't been an issue in a long time. Take a look here at why it points to that url: https://devcenter.heroku.com/articles/heroku-button

[2020-12-30 04:41] #76 closed

[2020-12-30 13:06] curropar commented on #76
Thanks for the link!

Not that I doubt of your word, but I don't know what issue I might have: account in Heroku was new for this little project, and I tried to deploy from two different computers, without success... Still, I got it to work with the second link, so fair enough. Thanks again!

[2020-12-30 14:49] curropar opened #77 "Feature Request - Pending trades"
Hi,

As per my tests, Pending Trades are not being retrieved by the bot, and for what I've read in [Y! API documentation](https://developer.yahoo.com/fantasysports/guide/#transaction-key-format), it's possible.

Use case for us: our leagues are set with "Trade review: Commissioner", with the Commissioner been reported about the trade and them he would report to all GMs in a Discord channel. Then a

[2020-12-30 20:04] LandonPatmore commented on #76
You may have to clear your cookies on your browsers, that's the only thing I can think of that could possibly cause the issue.

[2020-12-30 20:10] LandonPatmore commented on #77
I have looked into this and it's only possible to see pending trades for the user who authenticated the bot with the their account.

And I slightly understand why Yahoo did this since others could gain an unfair advantage doing this.

A trade has two states whilst being considered "pending": `offer/counter-offer` and `agreed`. If the bot, or anyone else was allowed to see this besides the parties

[2020-12-30 20:10] #77 closed

[2020-12-30 20:55] curropar commented on #77
Hi,

Sorry, I don't see the advantage. Or I don't see the bot giving more advantage to the Commissioner than he already has.

I feel like I'm been a headache for you, thanks for your patience!

[2020-12-30 21:00] LandonPatmore commented on #77
Not a headache at all.

As for what I stated before, let me clarify. The commissioner and others outside the parties involved in the trade can only see the pending trade when it is in the `accepted` state.

Yahoo's API gives the ability to see that state, as well as see the `offer/counter-offer`, which would be before the commissioner sees it.

But as stated previously, the API can only be used fo

[2020-12-30 21:01] curropar commented on #77
Just in case: we're not interested `offer/counter-offer`, but in `agreed`. At that point, the Commissioner, i.e. a player with that role, has to approve or reject the trade. So without the bot he already has some advantage. But as they say, "great power comes with great responsability".

[2020-12-30 21:07] curropar commented on #77
We're only interested in trades with state `accepted`, and we'd use the Commissioner account for this. So the bot would send a message of an already agreed trade to all GMs.

[2020-12-30 21:13] LandonPatmore commented on #77
The bot can only see trades that are `finished`. If they changed their API, I can look at it next season as I don't have time. I am also open to PRs if you can figure it out.

From their documentation:

[2020-12-30 21:21] curropar commented on #77
Ok, so I think I misunderstood you: when you're saying "the bot can only see..." you're not talking about your piece of code, but about the possibility the API gives you. Copy that now.

As for PRs, I will give it a try. But I'm not programming seriously (that is, apart from scripting) since I started to focus on systems 15 years ago! 😂

Thanks!!

[2021-02-04 14:58] curropar commented on #77
Hi, coming back after exploring and finding how to do it. I have achieved it through this [package](https://github.com/spilchen/yahoo_fantasy_api). After authenticating, these are the code needed to extract `accepted` transactions:

[code]

I then just have to manage the content of  `not_accepted_trades`.

Please use it at your interest. Again, I would gladly help, but kotlin really is out of my u

[2021-02-04 16:17] LandonPatmore commented on #77
@curropar have you tried this with another team's key that is not your own?

[2021-02-05 09:15] curropar commented on #77
You actually have to make the request with your own team's key, and the response will contain all the trades with status `accepted`, including those where your team is not involved.

[2021-02-05 09:24] curropar commented on #77
I forgot something important: `pending_trades` will contain both `accepted` trades (including your team or not) AND trades that you have or you have been `proposed`, and are not accepted or rejected yet! So the last line of code it's important to filter them, as they have to remain private.

[2021-02-22 01:35] iancourtney opened #78 "NHL Fantasy Hockey"
I am trying to use this to set-up a bot for my yahoo fantasy hockey league, but I am having issues. Could it be the NHL league ID?

[2021-02-22 22:21] LandonPatmore commented on #78
Could you attach some more information? Can you send a screenshot of the error you are seeing as well?

[2021-02-22 22:27] iancourtney commented on #78
It is working now actually, just needed some time I guess! Thank you for making this!

[2021-02-22 22:27] #78 closed

[2021-03-25 06:59] chefBrian opened #79 "Permission Scope Update?"
When I try the authenticate through the web I get the Yahoo permission dialog that asks "By agreeing, you'll allow the-second-constant to access."  Below that, there are no permissions the application it is requesting. When I click next, I get "Uh oh Looks like something went wrong. Please try again later. Developers: Please request scope from registered scopes and submit again."

Have I done some

[2021-03-25 07:11] chefBrian commented on #79
Whoops some things got done out of order! Closing ticket

[2021-03-25 07:11] #79 closed

[2021-04-01 14:28] cjhaviland opened #80 "Cannot Authenticate App"
Looks like Yahoo changed some stuff around compared to the current setup guide. There are some extra options when choosing what your app has access to.

Either way when I go to authenticate I am getting an error that says, "Uh Oh! Looks like something went wrong!" This is after navigating to the Yahoo Auth page and clicking on 'Agree'.

[2021-04-01 15:57] LandonPatmore commented on #80
I just went through creating a new application myself and there is no difference in the setup process. Sure there are more options, however the options needed to setup the bot are still there.

Others have had this same issue, are you sure that set it up EXACTLY the way it says too in the guide? Others have realized they haven't, deleted the app on yahoo, and then set it up again and it works beca

[2021-04-01 20:12] hagel05 commented on #80
I'm having a similar issue.  I tried using an old application that I set up and setting up from using the guide.  When creating an app now you have this form:

![image](https://user-images.githubusercontent.com/20971935/113348681-870b2300-92fc-11eb-81af-2f59d908846c.png)

[2021-04-01 20:21] LandonPatmore commented on #80
Ah I see it now, the application type is missing. I'll have to look at this more in-depth. I'm sure it doesn't effect anything, but I'll spin up a new bot tonight and look at this.

[2021-04-01 20:33] hagel05 commented on #80
Nothing jumped out from logging.  I haven't looked at the code yet, but if I get time this afternoon I will.

[2021-04-02 02:51] LandonPatmore commented on #80
So I just got it to work with the way the guide tells you to do it. Even though Yahoo removed the "application type", it doesn't effect anything. I actually messed up myself before I fixed it while looking at this part of step 3:

"The Redirect URI will be https://<the name of your application>.herokuapp.com/auth"

Remember the **/auth** of the URL. I forgot it, and I got the error you are seeing.

[2021-04-02 02:51] #80 closed

[2021-04-02 14:04] cjhaviland commented on #80
Weird... I followed the setup exactly. I just deleted the Yahoo App and added a new one and it authenticated no problem. Very weird, but whatever. Sorry to bother!

[2021-04-22 15:00] catanach opened #82 "Heroku Scheduler"
Love the bot, thanks for all your work on this!

In order to stay in the free tier of Heroku, I'm trying to get this run on a schedule, instead of 24/7. Is there a known method for doing this easily?

[2021-04-26 18:35] LandonPatmore commented on #82
I personally don't know how to do that since I have never explored that option. I have just added my credit card to my account and it bumps the 500 hours limit to 1000 hours. Since there are ~730 hours in a month (based on days), it covers that. I have never been charged since adding it 3 years ago. You can explore that option. Otherwise, I would recommend taking a look at their documentation: htt

[2021-04-26 18:35] #82 closed

[2021-04-26 18:37] catanach commented on #82
Thanks for your response. I did realize after adding this ticket that adding CC info would give me enough time.

[2021-04-27 03:36] eckoefx opened #83 "Issue Finishing Bot Creation"
Trying to figure out what I did wrong. I'm getting the error _"An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details. You can do this from the Heroku CLI with the command."_

I looked through the common issues and had to turn off the web dyno. Both web and bot are not switched to off which gives me the above message. W

[2021-04-29 00:40] LandonPatmore commented on #83
It's a yahoo authentication issue. Please make sure you've followed the steps EXACTLY.

[2021-04-29 14:04] eckoefx commented on #83
Shit. I thought I did - though the current steps are slightly different than yahoo’s new layout.

Thanks,
Dustin

Sent from my iPhone. Apologies for the brevity.

[2021-04-29 14:49] #83 closed

[2021-08-08 01:55] motenoob opened #92 "Deployed app - clicking "Authenticate" presents Yahoo "Uh oh - Looks like something went wrong. Pelase try again later""
Fresh deploy - variables populated with both "web" and "bot" enabled in Dynos

Yahoo_CLIENT_ID, YAHOO_CLIENT_SECRET match what's in the Yahoo Dev page
YAHOO_GAME_KEY is set to NFL
Yahoo_LEAGUE_ID matches league settings

Please let me know what I may be missing. Not sure if something changed with Yahoo's API since last year?

[2021-08-08 02:14] #92 closed

[2021-08-29 05:16] LandonPatmore commented on #92
Next time, please don't delete the issue text. Comment that it was fixed, and if possible the solution as well. It will help others if they see it.

[2021-08-29 17:28] BigCiv opened #94 "Transaction Alerts"
Is there a way to have the transactions alerts happen real time (within a few minutes at least)? A player was added and it didn't alert in the discord channel until 10 hours later.

[2021-08-30 04:47] LandonPatmore commented on #94
The alerts should happen almost instantly. Interesting. Have you checked the fronted dyno to make sure it is off? If that is on, the bot will sleep. Please make sure it is off. I haven't heard of transactions taking that long. I def need more info to work on if you have it?

[2021-08-30 04:48] LandonPatmore opened #95 "Better logging"
Log things and save them so users can pull them if there are issues.

[2021-08-30 05:26] BigCiv commented on #94
Awesome, thanks for the help! I missed the step where I need to turn back
off the web dyno. Just did that now.

On Sun, Aug 29, 2021 at 9:47 PM Landon Patmore ***@***.***>
wrote:

[2021-08-30 05:45] LandonPatmore commented on #94
No problem, if the issue persists, reopen this. Glad to hep!

[2021-08-30 05:45] #94 closed

[2021-08-30 16:32] chrismathew21 opened #96 "When I click deploy to Heroku no app located"
When I clicked deploy to heroku I get the following message. I am using chrome.

<img width="1440" alt="Screen Shot 2021-08-30 at 11 26 45 AM" src="https://user-images.githubusercontent.com/89798269/131372780-852c7ab3-5422-4413-9061-33b997e61793.png">

[2021-08-30 17:47] LandonPatmore commented on #96
Please try clicking the button again. Sometimes Heroku freaks out even if the `app.json` is there. It is located here: https://github.com/LandonPatmore/yahoo-fantasy-bot/blob/master/app.json. If that still does not work, please clear your caches and restart Chrome and you should be good to go.

[2021-08-30 18:04] chrismathew21 commented on #96
I cleared my cache, restarted chrome multiple times, and it still saying
the app is not there. Clicked the button a few times as well.

On Mon, Aug 30, 2021 at 12:47 PM Landon Patmore ***@***.***>
wrote:

--
Chris Mathew
214.908.3283 (direct)
***@***.***

[2021-08-31 03:00] chrismathew21 commented on #96
I tried deploying with firefox and safari and I get the same message about no app located. @LandonPatmore
<img width="1285" alt="Screen Shot 2021-08-30 at 9 59 35 PM" src="https://user-images.githubusercontent.com/89798269/131434681-66c15f2c-9628-450c-af17-6f5f57c2ca29.png">
<img width="1260" alt="Screen Shot 2021-08-30 at 9 56 45 PM" src="https://user-images.githubusercontent.com/89798269/1314346

[2021-08-31 03:12] LandonPatmore commented on #96
Can you paste this in your browser directly: https://heroku.com/deploy?template=https://github.com/LandonPatmore/yahoo-fantasy-bot/tree/master and see if that works?

[2021-08-31 04:47] #96 closed

[2021-08-31 04:49] chrismathew21 opened #97 "Open App > Authenticate = the page isn't working error message"
<img width="1422" alt="Screen Shot 2021-08-30 at 11 48 09 PM" src="https://user-images.githubusercontent.com/89798269/131443684-04dc898b-1e25-4731-9afb-1c04cea76ec4.png">
<img width="1440" alt="Screen Shot 2021-08-30 at 11 48 02 PM" src="https://user-images.githubusercontent.com/89798269/131443692-22a2fcfd-7641-41e6-b716-e190f75c677e.png">
<img width="1275" alt="Screen Shot 2021-08-30 at 11 50 21

[2021-08-31 17:03] LandonPatmore commented on #97
For your account security, please tear the bot down, regenerate a new ID and SECRET by going through the steps again. I deleted the image with the keys you exposed. They can give access to unauthorized actors who are not as nice as I am.

[2021-08-31 17:04] LandonPatmore commented on #97
When you run through the steps again, please follow the steps EXACTLY as they are stated. Many people miss small nuances in the auth URL section. Read over it to make sure you are doing exactly what it asks.

[2021-08-31 18:35] Croxy opened #98 "Trades not being posted by the bot"
Hi there, thank you for the work on this!

I have the bot working, I just dropped someone and the notification went as expected.

However we just had a trade in the league and nothing came from the bot to the channel.

Here's our list of recent transactions:

![Screen Shot 2021-08-31 at 1 34 09 PM](https://user-images.githubusercontent.com/5749114/131557402-302d83fa-69f8-4481-a568-7eba3bc71827.png

[2021-08-31 18:59] LandonPatmore commented on #98
Do you have the web dyno on? It must be off fo the bot to work correctly, or it will shut itself down after 30min. Its a Herkou thing, so please shut that off if it is on, and restart the boy dyno.

[2021-08-31 19:03] Croxy commented on #98
Yes, I had the web dyno off. I think that is why the drop notification worked.

[2021-08-31 19:05] LandonPatmore commented on #98
If another trade happens and it fails again, please ping me. It has worked for others so odd it's not working for you. Did you just set the bot up?

[2021-08-31 19:07] Croxy commented on #98
I set it up a couple of days ago. I'll try and get another of our teams to attempt a trade to see if it works. I'll update you when we can make that happen. Thanks!

[2021-08-31 19:11] LandonPatmore commented on #98
Yah please do. I don't think Yahoo changed their API so it should pickup trades for sure. Just make sure the `web` dyno is off after authenticating.

[2021-08-31 20:40] ffenthusiast commented on #97
I am having the same issues. The yahoo app key page looks different then what is in the instructions:

![Screenshot 2021-08-31 163946](https://user-images.githubusercontent.com/89874807/131572780-c9bd2351-5d47-46ee-aa71-6bce3915d00e.png)

[2021-08-31 20:41] ffenthusiast commented on #97
I am having the same issue. The yahoo developer page now looks different than the instructions have it. I have followed all the heroku instructions correctly:
![Screenshot 2021-08-31 163946](https://user-images.githubusercontent.com/89874807/131572967-645291d6-cfe0-4504-9996-7f4146cf6580.png)

[2021-08-31 20:55] LandonPatmore commented on #97
You can ignore the application type, looks like they removed it. Create a new one and spin up the bot and you should be good. Your auth url looks correct as well.

[2021-08-31 20:59] ffenthusiast commented on #97
Worked once I deleted the original app and recreated it 👍

[2021-08-31 22:14] chrismathew21 commented on #97
i deleted the app and going to start over. Just to make sure, it says I need to fill out this info and then click deploy app but your instructions say to go to dashboard? Last time I filled in the info and the clicked deploy app so just wanted to make sure. @LandonPatmore
![screencapture-dashboard-heroku-new-2021-08-31-17_11_14](https://user-images.githubusercontent.com/89798269/131582646-bd1c8a1a

[2021-08-31 22:45] noimjory commented on #97
Followed the instructions multiple times to get the app going and I just keep getting this whenever I try to open app

![image](https://user-images.githubusercontent.com/89879220/131585330-400e9df2-ced5-433a-bb72-433340f775b0.png)

[2021-08-31 23:58] LandonPatmore commented on #97
@noimjory Is your web dyno on? Also can you pull up the logs for the bot and see what the issue is there and paste it here?

[2021-09-01 01:14] chrismathew21 commented on #97
I am getting the same error has as @noimjory. I turned off web dyno. Attached are my logs.
[chrismathew-logs-1630458835107.txt](https://github.com/LandonPatmore/yahoo-fantasy-bot/files/7087546/chrismathew-logs-1630458835107.txt)

[2021-09-01 02:11] chrismathew21 opened #99 "See what the commish change is"
I know i've been posting a lot but I really do appreciate the work you and team did to make this happen. I haven't gotten all the notifications yet and just saw the commish change one.

Is possible to see what the change is in the alert? The goal with the bot for me and the guys was to see it in the discord so we don't have to go in the app to see the change or other league activity.
<img width="7

[2021-09-01 20:10] Croxy commented on #98
Hi Landon! I have an update for you.

Without changing any settings we were able to test another trade and the bot posted it correctly.

I wasn't able to confirm this suspicion, but I think the original issue may have to do with the fact that draft picks were included in the first trade we sent. Like I said, I can't confirm that is the issue because we weren't able to get another test trade done w

[2021-09-01 20:10] #98 closed

[2021-09-02 05:13] #99 closed

[2021-09-02 05:15] LandonPatmore commented on #97
Yah so the logs tell all. You shut the web dyno off which means there is no endpoint to hit, thus you get this error. There is no problem with the bot itself.

If you want to change any notification times, you will need to turn the web dyno back on and wait about a minute to access it. Once you are done configuring notifications, please shut the web dyno off or the bot will actually stop working b

[2021-09-02 05:15] #97 closed

[2021-09-02 11:09] realatc opened #100 "No Alerts Coming through"
I have set up the app in both heroku and yahoo. Configured vars and scheduled days and times, but I have not received anything yet. I was reading through ticket #97 and tried to disable the dynos as suggested here but this then caused an application error when trying to launch. Any information I can provide to assist in resolution? Thanks in advance for your help and what you have built here.

[2021-09-02 14:32] realatc commented on #100
Additional context:

Attempting to have alerts go to discord channel.
- Confirmed webhook is in place.
- Confirmed dyno is off after setting up some scheduled alerts (matchups, standings).
- Confirmed correct client id, secret key, league id are in place.

[2021-09-02 15:42] realatc commented on #100
Additional note:

Transaction alerts are not coming through either into discord.

[2021-09-03 16:42] DACox17 opened #101 "could not find the source blob"
Getting this error when trying to create the app with Heroku.

When I click the README links from Heroku I get a 404, so I'm wondering if the links in the app to GitHub need updated.

[2021-09-03 17:41] VeryQueasy commented on #101
Yes, I am having this problem as well.

[2021-09-03 23:21] LandonPatmore commented on #101
Interesting, can you try this link instead: https://heroku.com/deploy?template=https://github.com/LandonPatmore/yahoo-fantasy-bot/tree/master and see if that works?

[2021-09-04 20:09] DACox17 commented on #101
Yep, that solved the deployment error. Thanks!

[2021-09-05 02:50] dub15 opened #102 "commish change for Free Agent Budgets?"
Is this included with the alerts for commish changes?

[2021-09-06 23:56] #101 closed

[2021-09-07 00:31] LandonPatmore commented on #102
Unfortunately it is not. https://github.com/LandonPatmore/yahoo-fantasy-bot/issues/99

[2021-09-07 00:31] #102 closed

[2021-09-08 13:52] realatc commented on #100
Adding logs since deployment just as an FYI in case that helps. I am sure I followed your instructions but it may still be something I missed on the configuration... thanks again for your help.

2021-09-02T14:27:58.990006+00:00 app[web.1]: 2021-09-02 14:27:58.989 [nioEventLoopGroup-4-7] TRACE Application - 200 OK: PUT - /alerts
2021-09-02T14:27:58.992047+00:00 heroku[router]: at=info method=PUT pa

[2021-09-08 13:59] realatc commented on #100
Just reset dynos...looks like its attempting to grab data but indicating a null value... posting logs here as an fyi in case it helps. Thanks again for your help.

[yff-discord-logs-1631109476703.txt](https://github.com/LandonPatmore/yahoo-fantasy-bot/files/7129351/yff-discord-logs-1631109476703.txt)

[2021-09-08 17:21] LandonPatmore commented on #100
Interesting, I'll have a look tonight after work. Haven't seen that before.

[2021-09-10 15:04] realatc commented on #100
Hey there - just wanted to see if there is anything else I can provide to help you with this review? Thanks again for your help.

[2021-09-11 19:16] LandonPatmore commented on #100
Still looking, I bet it is something with their API. Let's try this. Can you nuke the bot and then recreate it again? I want to see if it is still happening. If so then we have bigger problems. You are the only person I have seen with `null` in the logs. So I am assuming its a config error.

[2021-09-12 16:47] CallousCarl opened #106 "Functionality Question - Separating Channels"
I  want to be able to choose the channel information is streamed to (discord). I attempted to do this by creating multiple bots 1 for scores, standings. matchups etc.. and 2 for adds and drops. The only problem with this is the scores and standings one still does the adds and drops. Is there a way to limit this and/or choose the channel what information is listed. This is with discord in mind.

[2021-09-12 19:01] LandonPatmore commented on #106
Unfortunately currently it only just works for the whole server and whatever channel the web hook is setup in.

I can look to do this for the mid season update or get it out sooner. I'll look into this.

Thanks for the request!

[2021-09-12 23:17] LandonPatmore commented on #75
Closing as this bot is only for Yahoo and there are no future plans to support other services.

[2021-09-12 23:17] #75 closed

[2021-09-14 15:40] jmh17 commented on #100
Seeing similar issues. Nuked it twice and recreated but no alerts coming through. We get the initial Bot Message Alert but nothing after setting up alerts. Let me know if you need other information.

[2021-09-14 23:55] LandonPatmore commented on #100
Do you have logs as well @jmh17 ? Now I am concerned...

[2021-09-15 00:15] realatc commented on #100
Always good to know I am not losing it 😂

@LandonPatmore nuked the first bot. Will be working on trying to reinstall again in the morning. One thing I didn't mention, but jmh17 did is that I also received the initial bot messages in my discord channel, but nothing more after.

Thanks all! Will report back once I try again.

[2021-09-15 00:36] jmh17 commented on #100
Any direction on where I can get the logs? I poked around but didn’t see anything. We are using discord as well.

[2021-09-15 06:29] LandonPatmore commented on #100
These would be in heroku on the right side if you click the drop down there should be a logs button.

[2021-09-15 13:23] jmh17 commented on #100
We did the Add/Drop alert this morning. I added some more alerts today but nothing else has come through.
[yourmomsbot-logs-1631712110169.txt](https://github.com/LandonPatmore/yahoo-fantasy-bot/files/7170385/yourmomsbot-logs-1631712110169.txt)

[2021-09-16 13:42] jmh17 commented on #100
FYI, it is now working.

[2021-09-17 02:12] realatc commented on #100
Nice! What changes did you make?

[2021-09-17 02:13] realatc commented on #100
Just did the rebuild. Deployed and everything to heroku but now can't get past the authentication error (followed the instructions again exactly). Not sure why this time I cannot get around this...ugh.

[2021-09-17 02:51] realatc commented on #100
And we have alerts now. No idea what I may have done differently this time, but tested a transaction and it came right through. Appreciate the input and help everyone. Hopefully this helps outline for others in the future. Closing ticket.

[2021-09-17 02:51] #100 closed

[2021-09-23 02:35] realatc opened #108 "Scheduled Alerts Not Coming Thru"
Alright...have had a little time seeing the success of normal transaction alerts coming trough (thanks for help on the other ticket - love the bot and work you guys have done).

Been playing around with the scheduled alerts. Going to assume just lack of understanding, but tried looking in the docs and may have missed any info on how these work/may be triggered.

Scheduled a few things - seems very

[2021-09-23 14:29] realatc commented on #108
Closing ticket...in testing out different alerts I moved the date range to be anywhere between January - December (Originally September - December) and alerts began coming through. Thanks again.

[2021-09-23 14:29] #108 closed

[2021-09-28 18:42] eightysixed commented on #42
Just checking in for this season! :)
How are we looking? I saw the dependencies should be updated per Dependabot in 'Pull Requests' - Mind pushing those through, real quick?

But yes, this would still be a really neat feature.

[2021-10-10 18:36] eightysixed opened #110 "Security Vulnerabilites"
I reran the Heroku install script today (I know, I'm 5 weeks late, the players in my league hate me). Just wanted to make sure that everything is good. I haven't been up to speed with new CVE's lately, but 82/30/1 sounds a bit steep right out of the box. I wonder what the Critical issue is, but still 30 high and 82 moderate? I don't really care about the moderate ones, but what were high and criti

[2021-10-10 18:47] eightysixed commented on #110
There's the full Heroku build log that was just generated. A lot of things are either outdated or deprecated. I thought this would help with the original issue. I'd be super happy to help, but Kotlin is not my thing; I've never touched it in any dev environment :)

[2021-10-26 07:04] DreamShake-r opened #111 "No Token"
This is my error log when I try to authenticate my Fantasy Basketball league on Yahoo - any help?

2021-10-26T07:03:37.875494+00:00 heroku[router]: at=info method=GET path="/" host=balldontliebot.herokuapp.com request_id=0c6a7a8c-1778-4615-b793-58ff25ecdb1e fwd="208.59.162.104" dyno=web.1 connect=0ms service=7ms status=200 bytes=1328 protocol=https
2021-10-26T07:03:37.946747+00:00 heroku[router]:

[2022-05-09 16:04] wcawcawcawca opened #119 "Persistent but False 'League Setting Modified' Alert"
hi!

first off, thank you for creating the bot! it's been a fantastic addition to our league.

second, we keep getting this alert: 'A league setting has been modified.  You may want to check or ask them what they changed!'

the commissioner doesn't change anything, yet the bot keeps alerting us of a change. and it does this probably once per week. any idea why this might be happening? any way to f

[2022-08-18 03:51] MiltyTheGreat opened #122 "Authentication Failure"
After multiple attempts to setup the bot, I am stuck.

Each time I get the following error from Yahoo:
![image](https://user-images.githubusercontent.com/111478438/185288195-6a1d73a0-2e0b-45a0-8163-3fa95857015a.png)

The Yahoo App I created:
![image](https://user-images.githubusercontent.com/111478438/185288609-78b48db3-edc7-4f75-8c2e-51d073bd865e.png)

My Heroku Settings:
![image](https://user-im

[2022-08-25 07:46] dub15 opened #123 "Not seeing add/drop alerts?"
Sorry if this is a stupid question, but is it because my alerts are set to start in Sept? This was working just fine last season. Thanks in advance.

[2022-08-25 14:45] William-Reynolds opened #124 "Yahoo! Developer Settings Changed. Redirect URL is not allowed"
It looks like the developer UI has changed and doesn't allow an option for "Installed apps" anymore. Also, the URL isn't allowed anymore.
![Screenshot 2022-08-25 104435](https://user-images.githubusercontent.com/71613781/186696270-34c66cd2-2a71-4b45-9cba-4bcb7a577a3f.png)

![Screenshot 2022-08-25 104512](https://user-images.githubusercontent.com/71613781/186696400-ab105181-c123-4796-9526-3b814a29a

[2022-08-25 17:14] dub15 commented on #123
figured out that the league ID changed from last season so this is all good now :)

[2022-08-26 22:01] #123 closed